.main {
  background-color: theme('colors.grayscale.200');
  height: fit-content;
  display: flex;
  justify-content: center;
  
  @media (min-width: theme('screens.lg')) {
    height: inherit;
  }
}

.content {
  background-color: theme('colors.grayscale.100');
}
