.main {
  background-color: theme('colors.grayscale.200');
  display: flex;
  justify-content: center;
  
  @media (min-width: theme('screens.lg')) {
    min-height: 70vh;
  }
}

.content {
  background-color: theme('colors.grayscale.100');
}
