.container {
	width: 100%;
	display: flex;
	flex-direction: column;
	@media (min-width: theme('screens.md')) {
		flex-direction: row;
	}
}

.mobileTabletHeader {
	width: 100%;
	background-image: linear-gradient(
		270deg,
		theme('colors.other.400'),
		theme('colors.secondary.500') 95.05%
	);
	padding: 1rem;
	margin-bottom: 1.88rem;
	@media (min-width: theme('screens.sm')) {
		padding: 1.5rem 2.44rem;
		margin-bottom: 2.44rem;
	}
	@media (min-width: theme('screens.md')) {
		display: none;
	}
}

.title {
	color: theme('colors.grayscale.100');
	font-size: 2.25rem;
	font-weight: 700;
	line-height: 2.875rem;
	@media (min-width: theme('screens.sm')) {
		font-size: 2.875rem;
		line-height: 3.5rem;
	}
	@media (min-width: theme('screens.md')) {
		font-size: 2.25rem;
		line-height: 2.875rem;
	}
	@media (min-width: theme('screens.lg')) {
		font-size: 2.875rem;
		line-height: 3.5rem;
	}
}

.sidebar {
	flex: 0 1 33%;
	min-width: 16rem;
	max-width: 32.8125rem;
	background: theme('colors.grayscale.800');
	position: relative;
	// height: 100%;
	.sidebarContent {
		padding: 2.5rem;
		position: absolute;
		inset: 0;
	}
}

.logoImg {
	width: 100%;
	max-width: 21.875rem;
	margin-bottom: 2.13rem;
}

.main {
	flex: 1 0 67%;
	padding: 0 1rem 2.8125rem;
	@media (min-width: theme('screens.sm')) {
		padding: 0 2.5rem 2.75rem;
	}
	@media (min-width: theme('screens.md')) {
		padding: 1.5rem 4.375rem 2.75rem;
		flex: 1 1 auto;
	}
}

.content {
	max-width: 47.75rem;
}

.desktopHeader {
	display: flex;
	justify-content: space-between;
	margin-bottom: 5rem;
}

.sidebar,
.desktopHeader {
	@media (max-width: theme('screens.md')) {
		display: none;
	}
}

.leftButtons {
	display: flex;
	gap: 1.88rem;
}

.headerAction {
	display: flex;
	align-items: center;
	gap: 1rem;
	text-align: right;
	position: relative;
	width: auto;
	.text {
		font-weight: 700;
		font-size: 0.875rem;
		line-height: 1.5rem;
	}
	.bottomText {
		display: block;
		color: theme('colors.secondary.500');
	}
	.chevron {
		width: 0.8125rem;
	}
}
