.reviewInfoCard {
	background-color: theme('colors.primary.100');

	border: 1px solid;
	border-color: theme('colors.primary.600');
	color: theme('colors.grayscale.800');

	height: fit-content;
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
	padding: 0.5rem;

	@media (min-width: theme('screens.sm')) {
		padding: 0.5rem 0.75rem;
		gap: 1rem;
	}

	h2 {
		font-size: theme('fontSize.base');
		@media (min-width: theme('screens.sm')) {
			font-size: theme('fontSize.xl');
		}
	}
}

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 1rem;
}

.redirectButton {
	width: 74px;
	height: 30px;
	border-radius: 25px;
	border: 2px solid;
	gap: 10px;

	background-color: theme('colors.grayscale.800');
	color: theme('colors.grayscale.100');
	display: flex;
	align-items: center;
	justify-content: center;

	text-align: center;
	text-decoration: none;

	margin: 0;
	font-size: theme('fontSize.sm');
	font-weight: 700;
	line-height: 26px;
}

.required {
	color: theme('colors.error.500');
	margin-left: 0.5em;
}

.subtitle {
	font-size: theme('fontSize.sm');
	@media (min-width: theme('screens.sm')) {
		font-size: theme('fontSize.base');
	}
	@media (min-width: theme('screens.md')) {
		font-size: theme('fontSize.lg');
	}
}

.fields {
	display: grid;
	gap: inherit;

	grid-template-columns: 1fr;
	@media (min-width: theme('screens.sm')) {
		grid-template-columns: 1fr 1fr;
		padding: 1.5rem;
	}
	@media (min-width: theme('screens.md')) {
		padding: 0.5rem 0;
		gap: 2rem;
	}

	.field {
		display: flex;
		flex-direction: column;

		@media (min-width: theme('screens.sm')) {
			flex-direction: row;
			gap: 1rem;
		}

		.fieldLabel {
			flex: 1;
			font-size: theme('fontSize.base');
		}

		.fieldValue {
			flex: 1;

			font-size: theme('fontSize.base');
			@media (min-width: theme('screens.sm')) {
				font-size: theme('fontSize.lg');
			}
			@media (min-width: theme('screens.md')) {
				font-size: theme('fontSize.base');
			}
		}
	}
}
