@use '../../../theme/mixins';

.green {
	background-color: theme('colors.primary.100');
	border-color: theme('colors.primary.600');
}

.grey {
	background-color: theme('colors.grayscale.200');
	border-color: #979797;
}

.reviewInfoCard {
	border: 1px solid;
	color: theme('colors.grayscale.800');

	height: fit-content;
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
	padding: 0.5rem;
	margin-bottom: 1.5rem;

	@media (min-width: theme('screens.sm')) {
		padding: 0.5rem 0.75rem;
		gap: 1rem;
		margin-bottom: 1.25rem;
	}

	.title {
		font-size: theme('fontSize.base');
		@media (min-width: theme('screens.sm')) {
			font-size: theme('fontSize.xl');
		}
	}
}

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 1rem;
}

.subtitle {
	font-size: theme('fontSize.sm');
	line-height: 1.7;

	a {
		@include mixins.text-link;
	}

	@media (min-width: theme('screens.sm')) {
		font-size: theme('fontSize.base');
	}
	@media (min-width: theme('screens.md')) {
		font-size: theme('fontSize.lg');
	}
}

.fields {
	display: grid;
	gap: inherit;

	grid-template-columns: 1fr;
	@media (min-width: theme('screens.sm')) {
		grid-template-columns: 1fr 1fr;
		padding: 0rem;
	}
	@media (min-width: theme('screens.md')) {
		padding: 0.5rem 0;
		gap: 2rem;
	}

	.field {
		display: flex;
		flex-direction: column;

		@media (min-width: theme('screens.sm')) {
			flex-direction: row;
			gap: 1rem;
		}

		.fieldLabel {
			flex: 1;
			font-size: theme('fontSize.base');
		}

		.fieldValue {
			flex: 1;

			font-size: theme('fontSize.base');
			@media (min-width: theme('screens.sm')) {
				font-size: theme('fontSize.lg');
			}
			@media (min-width: theme('screens.md')) {
				font-size: theme('fontSize.base');
			}
		}
	}
}
