.header {
	@media (min-width: theme('screens.sm')) {
		display: grid;
	}

	display: none;
	grid-template-columns: repeat(14, minmax(0, 1fr));
	gap: 3%;
	
	h3 {
		font-size: theme('fontSize.lg');
	}
}

.mobile-header {
	@media (min-width: theme('screens.sm')) {
		display: none;
	}

	display: flex;
	align-items: center;
	gap: 1rem;

	h3 {
		font-size: theme('fontSize.base');
	}

	.in-progress {
		width: 1.65rem;
	}
}

.step {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
	text-align: center;
	grid-column: span 2;
}

.divider {
	margin-top: 1.5rem;
	width: 350%;
	transform: translate(-35%);
	border-color: theme('colors.grayscale.500');
}

.divider.completed-step {
	background: theme('colors.primary.500');
}

.success,
.in-progress,
.incomplete {
	width: 3rem;
	height: 3rem;
}

.success {
	color: theme('colors.primary.500');
}

.in-progress {
	color: theme('colors.warning.500');
}

.incomplete {
	color: theme('colors.grayscale.500');
}
