.fieldSet {
	display: flex;
	flex-direction: column;
	margin-bottom: 0.75rem;

	.tooltip {
		margin-bottom: 0.25rem;
		font-size: theme('fontSize.sm');
	}

	.inputGridArea {
		width: 100%;
		@media (min-width: theme('screens.sm')) {
			width: 35rem;
		}
	}
}
