.base {
  border: 2px solid;
  border-radius: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30px;
  padding: 0.1rem 1rem;
  height: fit-content;
  font-size: theme('fontSize.base');
  font-weight: 700;
}

.large {
  padding: 0.5rem 2.75rem;
}

// Primary

.primary {
  color: theme('colors.grayscale.100');
  background-color: theme('colors.grayscale.800');
  border-color: theme('colors.grayscale.800');
  transition: all 200ms;
}

.primary:hover {
  background-color: theme('colors.grayscale.600');
  border-color: theme('colors.grayscale.600');
}

.primary:active {
  background-color: theme('colors.primary.700');
  border-color: theme('colors.primary.700');
}

.primary.blue {
  background-color: theme('colors.secondary.500');
  border-color: theme('colors.secondary.500');
}

.primary.green {
  background-color: theme('colors.primary.600');
  border-color: theme('colors.primary.600');
}

.primary.green:hover {
  background-color: theme('colors.primary.700');
  border-color: theme('colors.primary.700');
}


// Secondary

.secondary {
  border-color: theme('colors.grayscale.800');
  color: theme('colors.grayscale.800');
  background-color: theme('colors.grayscale.100');
  transition: all 200ms;
}

.secondary.blue {
  color: theme('colors.secondary.500');
  border-color: theme('colors.secondary.500');
}

.secondary.blue:hover {
  color: theme('colors.grayscale.100');
  background-color: theme('colors.secondary.500');
  border-color: theme('colors.secondary.500');
}

.secondary.green {
  color: theme('colors.primary.600');
  border-color: theme('colors.primary.600');
}

.secondary.green:hover {
  color: theme('colors.grayscale.100');
  background-color: theme('colors.primary.600');
  border-color: theme('colors.primary.600');
}

.secondary.green:active {
  color: theme('colors.grayscale.100');
  background-color: theme('colors.primary.700');
  border-color: theme('colors.primary.700');
}

.primary.green:active, .secondary:active, .secondary.blue:active {
  background-color: theme('colors.grayscale.800');
  border-color: theme('colors.grayscale.800');
}

.primary,
.secondary {

  &:disabled,
  &:disabled:hover {
    background-color: theme('colors.grayscale.600');
    border-color: theme('colors.grayscale.600');
    color: theme('colors.grayscale.100');
  }
}

// Icon buttons
.icon {
  width: fit-content;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  
  svg {
    height: 0.9rem;
  }

  &.base {
    padding-right: 0.6rem;
  }
  &.large {
    padding-left: 2rem;
    padding-right: 1.2rem;
  }
}

.left-arrow {
  transform: rotate(180deg);
}