.pageTitle {
	font-size: 1.5rem;
	line-height: 2rem;
	margin-bottom: 0.5rem;
}

.pageSubtitle {
	font-size: 1rem;
	line-height: 1.625rem;
	margin-bottom: 1.62rem;
}

.sectionTitle {
	color: theme('colors.secondary.500');
	font-size: 1rem;
	font-weight: 700;
	line-height: 1.75rem;
}

.smallText {
	font-size: 0.875rem;
	line-height: 1.5rem;
	margin-bottom: 1rem;
}

.afterRegistering {
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;
}
