.textInput {
	display: block;
	width: 100%;
	border: 1px solid theme('colors.grayscale.500');
	border-radius: 1.25rem;
	height: 2.5rem;
	padding: 0.38rem 1rem;
	&:focus {
		outline: 0;
		padding: calc(0.38rem - 1px) calc(1rem - 1px);
		border: 2px solid theme('colors.grayscale.800');
	}
	&.error {
		border-color: theme('colors.error.500');
	}
}

.wrapper {
	display: block;
	@media (min-width: theme('screens.md')) {
		display: flex;
	}
}
