.textInput {
	@apply block w-full;
	border: 1px solid theme('colors.grayscale.500');
	border-radius: 1.25rem;
	height: 2.5rem;
}

.wrapper {
	@apply block;
	@media (min-width: theme('screens.md')) {
		@apply flex;
	}
}
