.hidden {
	display: none;
}

.visible {
	display: block;
}

.stepTitle {
	margin-top: 1.5rem;
	font-size: theme('fontSize.base');
}

.instructions {
	margin-bottom: 0.75rem;
}

.questionsLink {
	display: block;
	margin-top: 0.7rem;
	text-decoration: underline;
	color: theme('colors.secondary.500');
	&:hover {
		color: theme('colors.secondary.400');
	}
	&:active {
		color: theme('colors.secondary.200');
	}
}

.buttonWrapper {
	display: flex;
	gap: 0.7rem;
	margin: 2.75rem 0;
}

.consentCheckbox {
	margin-top: 3px;
}

.recaptchaCheckbox {
	margin-top: 2rem;
}
