.footer {
  background-color: theme('colors.grayscale.700');
  color: theme('colors.grayscale.100');
  padding: 2rem 1.5rem 1rem;
  display: grid;
  justify-content: space-between;
  align-items: center;
  font-size: theme('fontSize.base');
  @apply gap-8 grid-cols-2 grid-rows-3;
  @media (min-width: theme('screens.md')) {
    font-size: theme('fontSize.sm');
    height: 12rem;
    min-height: 20vh;
    @apply grid-cols-4 grid-rows-2 gap-y-4 gap-x-8;
  }
  @media (min-width: theme('screens.xl')) {
    @apply grid-cols-5 grid-rows-2;
  }
}

.left {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  @apply col-span-1;
  @media (min-width: theme('screens.md')) {
    flex-wrap: nowrap;
    @apply row-span-1;
  }
  @media (min-width: theme('screens.xl')) {
    @apply row-span-2;
  }
}

.right {
  align-items: center;
  justify-self: flex-end;
  @apply row-span-1 order-2 col-span-1;
  @media (min-width: theme('screens.md')) {
    @apply order-3 row-span-1 justify-self-center;
  }
  @media (min-width: theme('screens.xl')) {
    @apply row-span-2;
  }
}

.links {
  display: grid;
  width: 100%;
  @apply grid-cols-2 col-span-2 row-span-1 gap-y-4 order-3;
  font-weight: theme('fontWeight.bold');
  @media (min-width: theme('screens.sm')) {
    text-align: center;
  }
  @media (min-width: theme('screens.md')) {
    @apply gap-y-0 order-2 col-span-2 row-span-1;
  }
  @media (min-width: theme('screens.xl')) {
    @apply gap-8 col-span-3;
    display: flex;
    justify-content: center;
  }
}

.versions {
  @apply flex flex-col justify-center items-center gap-4 order-4 col-span-2 row-span-1 text-xs;
  @media (min-width: theme('screens.md')) {
    width: 100%;
    @apply order-4 col-span-4 row-span-1 items-start;
  }
  @media (min-width: theme('screens.xl')) {
    @apply col-span-3 items-center;
  }
}

.copyright {
  text-align: center;
  @media (min-width: theme('screens.md')) {
    text-align: left;
  }
  @media (min-width: theme('screens.xl')) {
    text-align: center;
    @apply order-2;
  }
}

.credit {
  display: flex;
  @media (min-width: theme('screens.xl')) {
    @apply order-1;
  }
}

.icon {
  margin-right: 1rem;
}

.mediaIcons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}

.oicr {
  height: 83px;
  width: auto;
  margin-bottom: 1rem;
  @media (min-width: theme('screens.md')) {
    margin-right: 1rem;
    margin-bottom: 0;
    height: auto;
  }
}

.instagram {
  height: 40px;
  width: auto;
}

.twitter {
  height: 40px;
  width: auto;
}

.overture {
  margin: 0 0.5rem 0 1rem;
  @media (min-width: theme('screens.xl')) {
    margin: 0 1rem;
  }
}
