.navWrapper {
	display: flex;
	justify-content: space-between;
	margin: 1.5rem 0;
}

.buttonWrapper {
	display: flex;
	flex-basis: 50%;
	&.next {
		justify-content: flex-end;
	}
}

.button {
	width: 8.75rem;
	height: 2.5rem;
}

@media (min-width: theme('screens.sm')) {
	.navWrapper {
		justify-content: flex-end;
		gap: 1.875rem;
		margin: 1rem 0;
	}
	.buttonWrapper {
		flex-basis: 0;
	}
	.button {
		width: 10.25rem;
	}
}
