.modal {
	position: fixed;
	inset: 0;

	&::before {
		content: '';
		position: absolute;
		inset: 0;
		background: theme('colors.grayscale.800');
		opacity: 0.5;
	}
}

.card {
	padding: 16px;
	position: relative;
	margin: 10rem 15px auto;
	@media (min-width: theme('screens.sm')) {
		padding: 1.5rem 3rem;
		margin: 10rem 50px auto;
	}
	@media (min-width: theme('screens.md')) {
		margin: 10rem auto auto;
		max-width: 45rem;
	}
}

.buttons {
	margin-top: 1rem;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1rem;
	@media (min-width: theme('screens.sm')) {
		justify-content: end;
	}
}
