.header {
	@apply grid grid-cols-2;
	background-color: theme('colors.grayscale.100');
	padding: 0.5rem 1rem;
	align-items: center;
	position: sticky;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1;
	&.hide-desktop {
		@media (min-width: theme('screens.md')) {
			display: none;
		}
	}
	.help {
		display: none;
		@media (min-width: theme('screens.md')) {
			display: flex;
			margin-right: 1rem;
		}
	}
}

.headerItem {
	margin-right: 1rem;
}

.right {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
}

.user-menu {
	border-left: 1px solid theme('colors.grayscale.400');
	padding-left: 1rem;
}

.logo {
	width: auto;
	height: 30px;
	width: 126px;
	@media (min-width: theme('screens.md')) {
		height: 61px;
		width: 250px;
	}
}

.desktopUserMenu {
	display: none;
	@media (min-width: theme('screens.md')) {
		display: block;
	}
}

.hamburgerToggle {
	display: block;
	@media (min-width: theme('screens.sm')) {
		display: none;
	}
}
