@use '../../../../../theme/mixins';

.checkboxFieldset {
	.title {
		margin-bottom: 0.25rem;
	}
	.label {
		background: theme('colors.grayscale.100');
		border: 1px solid theme('colors.grayscale.500');
		padding: 0.5rem 1.25rem 0.5rem 3rem;
		display: block;
		cursor: pointer;
		&:hover {
			background: theme('colors.grayscale.200');
		}
		a {
			@include mixins.text-link;
		}
	}
	.checkboxWrapper {
		position: relative;
	}
	.checkboxInput {
		position: absolute;
		top: 1rem;
		left: 1rem;
		appearance: none;
		width: 1rem;
		height: 1rem;
		border-radius: 0.25rem;
		border: 1px solid theme('colors.grayscale.500');
		background: theme('colors.grayscale.100');
		&:checked {
			border: 0 none;
			background-image: url('../../../../../../public/assets/images/checkbox-selected.svg');
			& + .label {
				background: theme('colors.primary.100');
				border-color: theme('colors.primary.600');
				.description {
					color: theme('colors.primary.700');
				}
			}
		}
		&:disabled + .label {
			background: theme('colors.grayscale.300');
		}
	}
	.description {
		font-size: 1rem;
		line-height: 1.625rem;
	}
	&.error {
		.label {
			border-color: theme('colors.error.500');
		}
		.description {
			color: theme('colors.error.600');
		}
		.checkboxInput {
			border-color: theme('colors.error.500');
		}
	}
}
